 // 변수
 $text-color: #f0f4f5;
 $background-color: #263343;
 $accent-color: pink;
 $primary-color: #00c7ae;
 $secondary-color: #f99500;
 
 $dark-color: #333;
 $medium-color: #ccc;
 $light-color: #f3f3f3;
 $max-width: 1100px;
 
 // 배경화면에 따른 text 컬러 변경시켜주는 함수
 @function set-text-color($backGroundColor) {
   @if (lightness($backGroundColor) > 50) {
     @return #000;
   } @else {
     @return #fff;
   }
 }