 // 변수
 $primary-color: #00c7ae;
 $secondary-color: #3a0061;
 
 $text-color: #f0f4f5;
 $background-color: #263343;
 $accent-color: pink;
 
 $dark-color: #333;
 $medium-color: #ccc;
 $light-color: #e9ecef;

 $main-color: #ffbc00;

 $website-width: 1280px;
 
 // 배경화면에 따른 text 컬러 변경시켜주는 함수
 @function set-text-color($backGroundColor) {
   @if (lightness($backGroundColor) > 50) {
     @return #000;
   } @else {
     @return #fff;
   }
 }