// Padding Y
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin Y
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.l-heading{
  font-size: 3rem;
}

.flex{
  display:flex;
}

.flex-one{
  flex:1;
}

.text-center{ text-align: center;}

.margin-bottom-small{ margin-bottom: 1.5rem;}
.margin-bottom-medium{ margin-bottom: 4rem;}
.margin-bottom-big{ margin-bottom: 8rem;}

.margin-top-big{ margin-top: 8rem;}
.margin-top-huge{ margin-top: 10rem;}