// colors
$primary-color: #00c7ae;
$primary-color-light-1: #00D4B7;
$primary-color-dark-1: #008775;
$primary-color-dark-2: #00473E;

$secondary-color: #0B83D4;
$tertiary-color: #0BC1DE;
$quaternary-color: #0BDE86;
$quinary-color: #0BD447;

$primary-bg-color: #eafaf9;

$text-color: #f0f4f5;
$background-color: #263343;

$medium-color: #ccc;
$light-color: #e9ecef;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light: #f2f2f2;
$color-grey-medium: #e1e1e1;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$website-width: 1280px;