// 변수
$primary-color: #00c7ae;
$secondary-color: #0B83D4;
$tertiary-color: #0BC1DE;
$quaternary-color: #0BDE86;
$quinary-color: #0BD447;

$primary-bg-color: #eafaf9;

$text-color: #f0f4f5;
$background-color: #263343;

$dark-color: #333;
$medium-color: #ccc;
$light-color: #e9ecef;

// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


$website-width: 1280px;
 
